examples/Manual Benchmark.json
[
  {
    "id": "d67608e60b19504a",
    "type": "tab",
    "label": "Benchmark",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "3b8c54429a12bbe7",
    "type": "group",
    "z": "d67608e60b19504a",
    "style": {
      "stroke": "rgba(255, 255, 255, 0.1)",
      "stroke-opacity": "1",
      "fill": "#21222c",
      "fill-opacity": "0.5",
      "label": true,
      "label-position": "nw",
      "color": "#f8f8f2"
    },
    "nodes": [
      "970d4e115b852a7e",
      "56f7584da497a330",
      "3f629ce82071cb7a",
      "e7b8963ba2db403a",
      "75463c556423ab78",
      "bb6aeaed6eeb3d52",
      "897a3177115eab3f",
      "88772b703af56d9d",
      "d837fb589469af58",
      "ac380c3356d9e2cf",
      "ea0946347d38b740",
      "d44c0da3d4517de5",
      "b4cc9cccb30b6073",
      "fcf9cd37d5e613c2",
      "c3eeb6b9dc111628",
      "52615b1dd7630482",
      "2baf5b906e3b939f",
      "b4df3552c4312097",
      "f8dd3411c9467370"
    ],
    "x": 74,
    "y": 359,
    "w": 1532,
    "h": 462
  },
  {
    "id": "665801db507768fb",
    "type": "group",
    "z": "d67608e60b19504a",
    "style": {
      "stroke": "rgba(255, 255, 255, 0.1)",
      "stroke-opacity": "1",
      "fill": "#21222c",
      "fill-opacity": "0.5",
      "label": true,
      "label-position": "nw",
      "color": "#f8f8f2"
    },
    "nodes": [
      "43be5575951ee9f3",
      "86b1bff3e1e11690",
      "8683d9b656f59ad7",
      "8ad2514db5e3020d",
      "bb5bc241f66401d6",
      "ba150b5a44155868",
      "a2bcf712346f22b4",
      "0c0d8cde1489f5d6",
      "33ca88e015b32b84",
      "afe2878fc56aa345",
      "258e5f35a592e8d4",
      "c16fda269948721e",
      "f944c29c1a755fdb",
      "26567a742980fd75",
      "caa99028d73fc69c",
      "c3dfb9ff1dbf61e1",
      "282b2682999fb5a2",
      "9bef354e4fd4434c",
      "87775eb9b7a854bd"
    ],
    "x": 74,
    "y": 899,
    "w": 1532,
    "h": 462
  },
  {
    "id": "970d4e115b852a7e",
    "type": "function",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "Random Array",
    "func": "var length = 20000000; //  ten millions;\nvar arr = [];\nfor (let i = length; i > 0; i--) {\n    arr.push(parseInt(Math.random() * 1000000000));\n}\nmsg.payload = arr\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 720,
    "wires": [["56f7584da497a330", "897a3177115eab3f"]]
  },
  {
    "id": "56f7584da497a330",
    "type": "debug",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "Original",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 780,
    "wires": []
  },
  {
    "id": "3f629ce82071cb7a",
    "type": "debug",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "Sorted",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1130,
    "y": 780,
    "wires": []
  },
  {
    "id": "e7b8963ba2db403a",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 720,
    "wires": [["d837fb589469af58"]]
  },
  {
    "id": "75463c556423ab78",
    "type": "debug",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "Execution Time",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "elapsed.millis",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1480,
    "y": 460,
    "wires": []
  },
  {
    "id": "bb6aeaed6eeb3d52",
    "type": "hourglass",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "",
    "persistId": "",
    "humanizeLocale": "",
    "x": 1280,
    "y": 460,
    "wires": [["75463c556423ab78"]]
  },
  {
    "id": "897a3177115eab3f",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "start",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "start",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 720,
    "wires": [["bb6aeaed6eeb3d52", "f8dd3411c9467370"]]
  },
  {
    "id": "88772b703af56d9d",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "pause",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "pause",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 480,
    "wires": [["bb6aeaed6eeb3d52"]]
  },
  {
    "id": "d837fb589469af58",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "reset",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 720,
    "wires": [["bb6aeaed6eeb3d52", "970d4e115b852a7e"]]
  },
  {
    "id": "ac380c3356d9e2cf",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "status",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 720,
    "wires": [["bb6aeaed6eeb3d52", "b4df3552c4312097"]]
  },
  {
    "id": "ea0946347d38b740",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 480,
    "wires": [["88772b703af56d9d"]]
  },
  {
    "id": "d44c0da3d4517de5",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "reset",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 400,
    "wires": [["bb6aeaed6eeb3d52"]]
  },
  {
    "id": "b4cc9cccb30b6073",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "start",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "start",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 440,
    "wires": [["bb6aeaed6eeb3d52"]]
  },
  {
    "id": "fcf9cd37d5e613c2",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "status",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 520,
    "wires": [["bb6aeaed6eeb3d52"]]
  },
  {
    "id": "c3eeb6b9dc111628",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 400,
    "wires": [["d44c0da3d4517de5"]]
  },
  {
    "id": "52615b1dd7630482",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 440,
    "wires": [["b4cc9cccb30b6073"]]
  },
  {
    "id": "2baf5b906e3b939f",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 520,
    "wires": [["fcf9cd37d5e613c2"]]
  },
  {
    "id": "b4df3552c4312097",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "name": "pause",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "pause",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1310,
    "y": 720,
    "wires": [["bb6aeaed6eeb3d52"]]
  },
  {
    "id": "f8dd3411c9467370",
    "type": "timsort",
    "z": "d67608e60b19504a",
    "g": "3b8c54429a12bbe7",
    "x": 940,
    "y": 720,
    "wires": [["ac380c3356d9e2cf", "3f629ce82071cb7a"]]
  },
  {
    "id": "43be5575951ee9f3",
    "type": "function",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "Random Array",
    "func": "var length = 20000000; //  ten millions;\nvar arr = [];\nfor (let i = length; i > 0; i--) {\n    arr.push(parseInt(Math.random() * 1000000000));\n}\nmsg.payload = arr\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 1260,
    "wires": [["86b1bff3e1e11690", "a2bcf712346f22b4"]]
  },
  {
    "id": "86b1bff3e1e11690",
    "type": "debug",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "Original",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 1320,
    "wires": []
  },
  {
    "id": "8683d9b656f59ad7",
    "type": "debug",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "Sorted",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1130,
    "y": 1320,
    "wires": []
  },
  {
    "id": "8ad2514db5e3020d",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 1260,
    "wires": [["33ca88e015b32b84"]]
  },
  {
    "id": "bb5bc241f66401d6",
    "type": "debug",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "Execution Time",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "elapsed.millis",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1480,
    "y": 1000,
    "wires": []
  },
  {
    "id": "ba150b5a44155868",
    "type": "hourglass",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "",
    "persistId": "",
    "humanizeLocale": "",
    "x": 1280,
    "y": 1000,
    "wires": [["bb5bc241f66401d6"]]
  },
  {
    "id": "a2bcf712346f22b4",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "start",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "start",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 750,
    "y": 1260,
    "wires": [["ba150b5a44155868", "9bef354e4fd4434c"]]
  },
  {
    "id": "0c0d8cde1489f5d6",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "pause",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "pause",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 1020,
    "wires": [["ba150b5a44155868"]]
  },
  {
    "id": "33ca88e015b32b84",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "reset",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 330,
    "y": 1260,
    "wires": [["ba150b5a44155868", "43be5575951ee9f3"]]
  },
  {
    "id": "afe2878fc56aa345",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "status",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 1260,
    "wires": [["ba150b5a44155868", "87775eb9b7a854bd"]]
  },
  {
    "id": "258e5f35a592e8d4",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 1020,
    "wires": [["0c0d8cde1489f5d6"]]
  },
  {
    "id": "c16fda269948721e",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "reset",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "reset",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 940,
    "wires": [["ba150b5a44155868"]]
  },
  {
    "id": "f944c29c1a755fdb",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "start",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "start",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 980,
    "wires": [["ba150b5a44155868"]]
  },
  {
    "id": "26567a742980fd75",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "status",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 730,
    "y": 1060,
    "wires": [["ba150b5a44155868"]]
  },
  {
    "id": "caa99028d73fc69c",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 940,
    "wires": [["c16fda269948721e"]]
  },
  {
    "id": "c3dfb9ff1dbf61e1",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 980,
    "wires": [["f944c29c1a755fdb"]]
  },
  {
    "id": "282b2682999fb5a2",
    "type": "inject",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 550,
    "y": 1060,
    "wires": [["26567a742980fd75"]]
  },
  {
    "id": "9bef354e4fd4434c",
    "type": "sort",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "",
    "order": "ascending",
    "as_num": false,
    "target": "payload",
    "targetType": "msg",
    "msgKey": "payload",
    "msgKeyType": "elem",
    "seqKey": "payload",
    "seqKeyType": "msg",
    "x": 950,
    "y": 1260,
    "wires": [["afe2878fc56aa345", "8683d9b656f59ad7"]]
  },
  {
    "id": "87775eb9b7a854bd",
    "type": "change",
    "z": "d67608e60b19504a",
    "g": "665801db507768fb",
    "name": "pause",
    "rules": [
      {
        "t": "set",
        "p": "command",
        "pt": "msg",
        "to": "pause",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1310,
    "y": 1260,
    "wires": [["ba150b5a44155868"]]
  }
]
